<!DOCTYPE html>
<html>
<head>
    <title>User Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/path/to/fontawesome/css/all.min.css">
    <style>
        .center-text {
            text-align: center;
            background-color: aqua;
        }
        
        .mt-5 {
            margin-top: 3rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="my-4 center-text">
            <h1>User Management System</h1>
        </header>